@model DiscussionForum.Models.ViewModel.MainAdminViewModel
@using DiscussionForum.Models
<div id="ann">
	<div class="row">
		<div class="col-md-12">
			<h1>Import Results</h1>
			<div class="col-md-4">
				<table class="table">
					<thead>
						<tr>
							<th>New Anime Titles</th>
						</tr>
					</thead>
					<tbody>
						@foreach (string title in Model.NewAnimeTitles)
						{
							<tr>
								<td>@title</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div class="col-md-4">
				<table class="table">
					<thead>
						<tr>
							<th>New Genres</th>
						</tr>
					</thead>
					<tbody>
						@foreach (string genre in Model.NewGenres)
						{
							<tr>
								<td>@genre</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div class="col-md-4">
				<table class="table">
					<thead>
						<tr>
							<th>New Tags</th>
						</tr>
					</thead>
					<tbody>
						@foreach (Tag tag in Model.FreshTags)
						{
							<tr>
								<td>@tag.Name</td>
							</tr>

						}
					</tbody>
				</table>
			</div>

		</div>
	</div>

</div>
