body {
    padding-top: 50px;
    padding-bottom: 20px;
}
html,body{
    height:100%
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}
.newDiscussion-container {
    background-color: white;
    position: fixed;
    left: 17%;
    right: 17%;
    padding-top: 10px;
    padding-bottom: 5px;
}
.feed-container{
    margin-top: 75px;
}
.subtitle {
    font-size: small;
    font-style: italic;
}
.left-sidebar {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.left-sidebar-product {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: 10px;
    border-bottom: 1px solid #eeeeee;
}
.left-sidebar-product > img{
    max-width: 70%
}
.left-sidebar-product > strong{
    width:85%;
    text-align:center;
}
.left-sidebar-product > h5{
    text-align:center;
    font-weight:bold;
    color:blue;
}
.carousel-inner > div.item{
    overflow-y:hidden;
    height: 300px;
}
.carousel-inner > div.item > img{
    height:500px;
}

.text-group{
    display: flex;
}
.text-group > input{
    border-radius: 3px 0px 0px 3px;
    width: 100%;
    height: 35px;
    max-width: 100%;
}
.text-group > button {
    border-radius: 0px 3px 3px 0px;
}
.lower-right-container {
    display: flex;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    height:100%;
}
#friendContainer {
    position:fixed;
    right:30px;
    bottom:10px;
}
.friend-title {
    text-align: center;
    color: white;
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    width: 200px;
    border-radius: 3px 3px 0px 0px;
    margin-bottom: 0px;
}

.friendList {
    border-width: 0px 2px 2px 2px;
    border-style: double;
    border-radius: 0px 0px 3px 3px;
    padding: 5px;
    background-color: azure;
    -moz-box-shadow: 3px -3px 3px inset rgb(134, 134, 130);
    -webkit-box-shadow: 3px -3px 3px inset rgb(134, 134, 130);
    box-shadow: 3px -3px 3px inset rgb(134, 134, 130);
}
.feedItem {
    background: linear-gradient(to top, #4bb0ea -100%, #ffffff 28%);
    margin-top: 5px !important;
}
.feedItem > a:hover{
    text-decoration: none;
}
.import-form-group{
    margin-right: 15px;
}
.mass-import-container{
    padding: 10px 10px;
    margin-top: 10px
}
.icon-container {
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.favoriteCheckbox{
    margin-right: 5px;
    padding: 3px 0px;
}
.favoriteCheckbox:hover{
    cursor:pointer;
}
.bar {
    font-weight: bold;
    font-size: medium;
    margin-left: 5px;
}
.attachedTags {
    color: cornflowerblue;
    font-weight: bold;
}

.validation{
    color: red;
    font-weight:bold;
    display:block;
}

.dateSelect{
    width:180px;
    font-size: 17px;
}

.gridControls-container {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.gridPage{
    width:50px;
    text-align:center;
    height: 30px;
    margin-bottom: -1px
}
.leftPagebutton {
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    margin: 0px -4px 3px 0px;
}
.rightPageButton {
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
    margin: 0px 0px 3px -4px;
}
.genreList {
    list-style: disc;
    font-weight: bold;
    display: inline;
    
}
.genreListItem{
    color:rgb(0, 146, 255);
}
.pageInfo{
    text-align:left;
    font-weight: lighter;
    margin: 0px 0px -5px 0px;
}
.gridRowImage{
    height:100px;
}
.gridControlRow > th{
    padding-bottom: 0px !important;
}
.rowCount{
    display:inline-block;
    height: 30px;
    padding-bottom: 0px;
    position:relative;
    bottom: -4px;
}
.checkedRow {
    background-color: #deeeee;
}
.modalSummaryBosdy {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    max-height: 480px;
    overflow-y: scroll;
}
.myTable{
    width:auto;
}
.subscript {
    display: block;
    color: rgb(0, 146, 255);
}
.dangerTextelement {
    background-color: #ffcbd2;
    color: #750000;
}
.goodTextelement {
    background-color: #cbffd0;
    color: #00480d;
}
.rowNumber{
    display: table-cell;
    vertical-align: middle !important;
}
.gridRow :hover{
    cursor: pointer;
}
.rowWarning {
    background-color: #fbe1e1;
}
.editable:hover{
    cursor: pointer !important;
    color:aqua !important;
}
.stretch{
    width:100%;
}
#commentsHolder{
    margin-top: 30px;
}
.comment, .reply {
    border-left: solid rgb(179, 8, 232);
    padding-left: 5px;
    margin-top: 4px;
}
.comment-body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    font-weight:500
}
.comment-header{
    display:flex;
    font-weight: bold;
}
.comment-controls{
    display:flex;
}
.gold-bar{
    color: rgb(179, 8, 232);
    margin: 0px 10px 0px 10px;
}
.voteIcon{
    padding-top: 3px;
}
.voteIcon:hover{
    cursor:pointer !important;
    color:aqua;
    font-weight: 400;
}
.rightHand{
    margin-left: 5px;
    margin-right: 5px;
}
.reply{

}
.lessImportantText{
    font-weight: 500
}
.discussionFeedItem {
    background: linear-gradient(to top, #f0ed09 -30%, #fff 28%)
}
.discussionFeedItem > p.text-primary{
    padding: 0px 10px
}
.discussionFeedItem:hover{
    cursor:pointer
}
.biobx {
    width: 90%;
    max-width: 768px;
}
.imagePreview{
    max-width: 150px;
}
.inlineImage{
    width: 30px;
    height: 30px;
}
#mainArticleModal{
    max-width:var(--modalWidth);
    overflow:hidden;
}
.newsImportModal {
    overflow: hidden;
    width: 1740px;
    max-height: var(--modalHeight);
}
#articleGrid{
    width: var(--modalWidth);
    height: var(--modalHeight);
    overflow:hidden;

}
.articleHr{
    margin-top:10px;
}
#articleContent {
    width: 0px;
    height: var(--modalHeight);
    float: left;
    overflow: hidden;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    -webkit-transition: width 1s;
    transition: width 1s;
}
.articleMedia {
    width: 90%;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 90%;
    padding: 10px;
}
.articleMedia > div.media-body {
    min-width: 750px;
}
.articleMedia-controls {
    font-size: x-large;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width:39px;
    text-align:center;
}
.articleMedia-controls-container{
    display: flex;
    justify-content:end;
}
.viewBox {
    max-height: 500px;
    overflow-y: scroll;
}
#overlay {
    background: rgba(127, 127, 127, 0.37);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20
}
#busyCursor {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1px solid red;
    border-radius: 50%;
    -moz-animation: innerPulse .5s alternate infinite;
    -o-animation: innerPulse .5s alternate infinite;
    -webkit-animation: innerPulse .5s alternate infinite;
    animation: innerPulse .5s alternate infinite;
    z-index: 3;
}
#busyCursor::after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    border: 5px solid rgba(59, 167, 228, 0.69);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    top: -1px;
    left: -1px;
    -moz-animation: outerPulse .7s alternate infinite;
    -o-animation: outerPulse .7s alternate infinite;
    -webkit-animation: outerPulse .7s alternate infinite;
    animation: outerPulse .7s alternate infinite;
}
:root{
    --spinner: 7px;
    --radius: 50%;
    --modalHeight: 577px;
    --modalWidth: 858px;
}
#spinner {
    position: absolute;
    height: var(--spinner);
    width: calc(var(--spinner) * 2);
    background: rgb(176, 9, 227);
    -webkit-border-top-left-radius: var(--spinner);
    border-top-left-radius: var(--spinner);
    -webkit-border-top-right-radius: var(--spinner);
    border-top-right-radius: var(--spinner);
    margin: 0 1em 1em 0;
    left: 2px;
    top: 2px;
    -moz-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    transform-origin: 50% 100%;
}
#spinner::after {
    content: "";
    background: gold;
    height: var(--spinner);
    width: calc(var(--spinner) *2);
    position: absolute;
    -webkit-border-bottom-right-radius: var(--spinner);
    border-bottom-right-radius: var(--spinner);
    -webkit-border-bottom-left-radius: var(--spinner);
    border-bottom-left-radius: var(--spinner);
    -moz-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 2s linear infinite;
    transform-origin: 50% 0%;
    top: 7px;
    margin: 0 1em 1em 0;
}

@keyframes innerPulse {
    from {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
}
@keyframes outerPulse {
    from {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -moz-transform: scale(.7);
        -ms-transform: scale(.7);
        -o-transform: scale(.7);
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
}
@keyframes spin{
    from {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
