@model DiscussionForum.Models.ViewModel.MainAdminViewModel
@using DiscussionForum.Models
@using JikanDotNet
<strong>@Model.FreshNews.Count news report links imported</strong>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <input id="headCheckbox" type="checkbox" class="form-control" />
                    </th>
                    <th>ID #</th>
                    <th>IMAGE</th>
                    <th>TITLE</th>
                    <th>DATE</th>
                </tr>
            </thead>
            @foreach (NewsArticle article in Model.FreshNews)
            {
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        <img class="gridRowImage" src="@article.ArticleImage.ImageData" />
                    </td>
                    <td>
                        @article.Title
                    </td>
                    <td>
                        @article.PublishDate
                    </td>
                </tr>
            }
        </table>
    </div>
</div>